/* CSS BY JAKE BARGER */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ROOT VARIABLES */
:root {
  --midnight-blue: #1F2A44;
  --olive-green: #76885B;
  --champagne-gold: #E5C185;
  --linen: #F8F4EC;
  --dark-charcoal: #2B2B2B;
  --soft-white: #FAF9F6;
  --font-main: 'Playfair Display', serif;    
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--font-main);
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
}

/* --- Header --- */
header {
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 32px 16px;
}

header img {
    width: 120px;
    margin-bottom: 8px;
}

header h1 {
    font-size: 3em;
    color: var(--soft-white);
    margin-bottom: 8px;
}

header p {
    font-style: italic;
    color: var(--champagne-gold);
    font-size: 1.1em;
}

/* --- Nav --- */
nav {
    background-color: var(--champagne-gold);
    padding: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.05em;
}

/* --- About --- */
#about {
    padding: 32px 16px;
    border-bottom: 1px solid var(--champagne-gold)
}



/* --- Offerings --- */




/* --- Gallery --- */




/* --- Footer --- */





/* MEDIA QUERY (medium) */
/* MEDIA QUERY (large) */
/* MEDIA QUERY (x1) */




